html,body {
	min-height: 100%;
	padding: 0 0 4% 0%;
	margin: 0 0% 0 0%;
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}
.imageMainPage
{
	margin:auto;
	width:70%;
	margin-top:5%;
	
}
div#topdiv {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #CCC;
	background: #3B5998;
	padding: 8px;
	margin-bottom: 10px;
	text-align: left;
}
div#bottomdiv {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: #CCC;
	background: #3B5998;
	padding: 8px;
}
#topdivContent {
	text-align: right;
	padding-right: 40px;
	float: right;
	
}
div a {
	/*color: white;*/
	text-align: right;
}
.logoutLink
{
	color: #ccc;
}
.star {
	color: #b30000;
}
label {
	float: left;
	width: 40%;
	margin-right: 0.5em;
	padding-top: 0.2em;
	/*text-align:right;*/
	font-weight: bold;
}
fieldset {
	border: 1px solid green;
	padding: 30px;
	width: 750px;
}
.linkedin {
	/*padding-top: 50px;*/
}
#linkedin {
	padding-top: 50px;
}
legend {
	padding: 0.2em 0.5em;
	border: 1px solid green;
	color: green;
	font-size: 90%;
	text-align: right;
}
input[type="text"] {
	width: 380px;
	border: 1px solid;
}
textarea {
	border: 1px solid;
}
.sbmitDiv {
	margin-top: 400px;
	padding-bottom: 10px;
	float: left;
}
table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
div.altRow
{
		margin-top:  50px;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}
div#mainContent
{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: :12%;
}
div#bbSearch
{
float: right;
}